NEXT_PUBLIC_SUPABASE_URL=https://zdukpdgkvzfbpomfzsyn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cB4at14cX0bnT1LV-NRsiA_rPPzqdqm

NEXT_PUBLIC_FORMSPREE_EXEC=xzezyene
NEXT_PUBLIC_FORMSPREE_VOLUNTEER=xeaovayg
NEXT_PUBLIC_FORMSPREE_REGISTRATION=moevyegw

NEXT_PUBLIC_SITE_URL=http://localhost:3000